extends layout
block prepend head
    form.form-horizontal(method='post',action='/createuridee/creer',enctype="multipart/form-data")
      // Form Name
      legend Déposer une nouvelle idée
      // Text input
      .form-group
        label.col-md-4.control-label(for='nom') Nom:
        .col-md-6
          input#Nom.form-control.input-md(name='nom', type='text', placeholder='Ecrivez le nom de votre idée', required='')
      // Textarea
      .form-group
        label.col-md-4.control-label(for='description') Description:
        .col-md-6
          textarea#description.form-control(name='description') Ecrivez la description de votre idée
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='categorie') Categorie:
        .col-md-6
          select#Categorie.form-control(name='categorie')
            each categorie in categories
              option(value='#{categorie.id}') #{categorie.nom}
            option(value='0') Autre
      .form-group#autre_categorie_form
        label.col-md-4.control-label(for='categorie') Autre Categorie:
        .col-md-6
          input#autre_categorie.form-control.input-md(name='autre_categorie', type='text', placeholder='Votre categorie')
      // Text input
      .form-group
        label.col-md-4.control-label(for='date_depot') Date de déposistion
        .col-md-6
          input#date_depot.form-control.input-md(name='date_depot', type='date', placeholder='date deposition', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='budget') Budget
        .col-md-6
          input#budget.form-control.input-md(name='budget', type='text', placeholder='Votre Budget', required='')
      // File Button
      .form-group
        label.col-md-4.control-label(for='image_idee') Image idee
        .col-md-6
          input#image.input-file(name='image_idee', type='file', accept="image/*")
      // File Button
      .form-group
        label.col-md-4.control-label(for='piece') piecejoint
        .col-md-6
          input#piece.input-file(name='piece', type='file',accept=".xlsx,.xls,.doc, .docx.,.ppt, .pptx,.txt,.pdf")
      // Button (Double)
      .form-group
        label.col-md-4.control-label(for='submit')
        .col-md-6
          input.btn-success.btn.pull-right(value='Ajouter', type='submit')
          input.btn-default.btn.pull-right(value='Annuler', type='reset')
    append foot
      script.
        tinymce.init({ selector:'textarea' });
        if($("#Categorie").val()=="0"){
          $("#autre_categorie_form").show();
          $("#autre_categorie").attr("required","true");
        }else{
          $("#autre_categorie_form").hide();
          $("#autre_categorie").attr("required","false");
        }        $("#autre_categorie_form").hide();
        $("#autre_categorie").attr("required","false");
        $("#Categorie").change(function(){
          if($(this).val()=="0"){
            $("#autre_categorie_form").show();
            $("#autre_categorie").attr("required","true");
          }else{
            $("#autre_categorie_form").hide();
            $("#autre_categorie").attr("required","false");
          }
        })
