extends layout
block prepend head
    form.form-horizontal(method='post',action='/createuridee/creer',enctype="multipart/form-data")
      // Form Name
      legend Déposer une nouvelle idée
      // Text input
      .form-group
        label.col-md-4.control-label(for='nom') Nom:
        .col-md-6
          input#Nom.form-control.input-md(name='nom', type='text', placeholder='Ecrivez le nom de votre idée', required='')
      // Textarea
      .form-group
        label.col-md-4.control-label(for='description') Description:
        .col-md-4
          textarea#description.form-control(name='description') Ecrivez la description de votre idée
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='categorie') Categorie:
        .col-md-4
          select#Categorie.form-control(name='categorie')
            for categorie in categories
              option(value='#{categorie.id}') #{categorie.nom}
      // Text input
      .form-group
        label.col-md-4.control-label(for='date_depot') Date de déposistion
        .col-md-4
          input#date_depot.form-control.input-md(name='date_depot', type='date', placeholder='date deposition', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='budget') Budget
        .col-md-4
          input#budget.form-control.input-md(name='budget', type='text', placeholder='Votre Budget', required='')
      // File Button
      .form-group
        label.col-md-4.control-label(for='image_idee') Image idee
        .col-md-4
          input#image.input-file(name='image_idee', type='file')
      // File Button
      .form-group
        label.col-md-4.control-label(for='piece') piecejoint
        .col-md-4
          input#piece.input-file(name='piece', type='file')
      // Button (Double)
      .form-group
        label.col-md-4.control-label(for='submit')
        .col-md-8
          input.btn-success.btn.pull-right(value='Ajouter', type='submit')
          input.btn-default.btn.pull-right(value='Annuler', type='reset')
    append foot
      script.
        tinymce.init({ selector:'textarea' });